<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
		<div class="container">
			<h1>Please sign up here!</h1>
			<form method="POST">
				{{ form.as_p }}
				{% csrf_token %}
				<input type="submit" class="btn btn-primary" value="Submit">
			</form>
		</div>
  </body>
</html>
